.home__container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: "header   header   header" "main     main     main" "footer   footer   footer";
    grid-template-rows: 8rem 1fr 5rem;
    grid-template-columns: 1fr;
}

.main__container {
    grid-area: main;
    min-height: 80vh;
    background-color: var(--white)
}

.navbar {
    grid-area: header;
    height: 8rem;
    background-color: var(--white);
}

.footer {
    grid-area: footer;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--pure-white);
    border-top: 2px solid var(--gray);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 6rem;
}

.navbar__header {
    font-size: 3rem;
}

.navbar-btn {
    border-radius: 0;
    font-size: 1.6rem;
}

.center__image {
    aspect-ratio: 16 / 6;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.video-card {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 0.2rem;
    background-color: var(--pure-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video-heading {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    gap: 0.5rem;
    cursor: pointer;
}

.video-thumbnail {
    width: 100%;
    height: 18rem;
    cursor: pointer;
}

.video-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
}

.video-channel {
    padding: 1rem 1rem 1rem 4.3rem;
}

.video-footer {
    padding: 1rem 1rem 1rem 4.3rem;
    display: flex;
    justify-content: space-between;
}

.video-option {
    cursor: pointer
}

.home-banner {
    margin: 3rem 5rem;
}

.videos-container {
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
    justify-content: space-around;
}

.video-categories {
    display: flex;
    margin: 5rem auto 0 auto;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    border: 1px solid var(--gray);
    padding: 1rem 2rem;
    cursor: pointer;
}

.category-active {
    background-color: var(--dark);
    color: var(--white);
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.text-underline {
    text-decoration: underline;
}

.form__group__input {
    border: 1px solid var(--error);
}

.no-border {
    border: 0;
}

.msg {
    width: 100%;
}


/* single vide styles */

.single-video-container {
    display: flex;
    gap: 1rem;
    padding: 1rem 3rem;
}

.single-video {
    width: 100%;
    flex-grow: 1;
    outline: 0;
    height: max-content;
    background-color: var(--pure-white);
    display: flex;
    flex-direction: column;
}

.video-iframe {
    width: 100%;
    aspect-ratio: 16/8;
}

.single-video-footer {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.single-video-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-top: 2px solid var(--gray);
    padding-top: 2rem;
    flex-wrap: wrap;
}

.video-side-details {
    display: flex;
    gap: 2rem;
}

.single-video-icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.creator-details {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.side-videos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;
}

@media (max-width: 768px) {
    .navbar__header {
        font-size: 2.5rem;
    }
    .center__image {
        aspect-ratio: 16 / 9;
    }
    .navbar-btn {
        font-size: 1.4rem;
        width: 8rem;
    }
    .home-banner {
        margin: 3rem 1rem;
    }
    .footer-item {
        font-size: 1.8rem;
    }
    .footer-item>span:nth-child(2) {
        display: none;
    }
}

@media (max-width: 1080px) {
    .single-video-container {
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
    .single-video-details {
        flex-direction: column;
        gap: 2rem;
    }
    .video-iframe {
        aspect-ratio: 16/9;
    }
    .side-videos {
        flex-direction: row;
    }
}

@media (max-width: 576px) {
    .center__image {
        aspect-ratio: 16 / 10;
    }
    .single-video-footer {
        padding: 1rem 0.2rem;
    }
    .single-video-icons {
        font-size: 1.6rem;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}