.home__container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: 'header' 'main';
    grid-template-rows: 8rem auto;
    grid-template-columns: 1fr;
}

.main__container {
    grid-area: main;
    margin: 3rem 0;
    min-height: 80vh;
    border: 1px solid var(--gray);
    padding: 5rem 0;
    border-radius: 1rem;
    background-color: var(--white)
}

.navbar {
    grid-area: header;
    height: 8rem;
    background-color: var(--white);
}

.navbar__header {
    font-size: 3rem;
}

.navbar-btn {
    border-radius: 0;
    font-size: 1.6rem;
}

.center__image {
    aspect-ratio: 16 / 6;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.video-card {
    width: 30rem;
    display: flex;
    flex-direction: column;
    background-color: var(--pure-white)
}

.video-heading {
    display: flex;
    align-items: center;
    width: 100%;
}

.home-banner {
    margin: 3rem 5rem;
}

.videos-container {
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

@media (max-width: 768px) {
    .navbar__header {
        font-size: 2.5rem;
    }
    .center__image {
        aspect-ratio: 16 / 9;
    }
    .navbar-btn {
        font-size: 1.4rem;
        width: 8rem;
    }
    .home-banner {
        margin: 3rem 1rem;
    }
}

@media (max-width: 576px) {
    .center__image {
        aspect-ratio: 16 / 10;
    }
}