.home__container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: "header   header   header" "main     main     main" "footer   footer   footer";
    grid-template-rows: 8rem 1fr 5rem;
    grid-template-columns: 1fr;
}

.main__container {
    grid-area: main;
    min-height: 80vh;
    background-color: var(--white)
}

.navbar {
    grid-area: header;
    height: 8rem;
    background-color: var(--white);
}

.footer {
    grid-area: footer;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--pure-white);
    border-top: 2px solid var(--gray);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 6rem;
}

.navbar__header {
    font-size: 3rem;
}

.navbar-btn {
    border-radius: 0;
    font-size: 1.6rem;
}

.center__image {
    aspect-ratio: 16 / 6;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.video-card {
    width: 30rem;
    display: flex;
    flex-direction: column;
    background-color: var(--pure-white)
}

.video-heading {
    display: flex;
    align-items: center;
    width: 100%;
}

.home-banner {
    margin: 3rem 5rem;
}

.videos-container {
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar__header {
        font-size: 2.5rem;
    }
    .center__image {
        aspect-ratio: 16 / 9;
    }
    .navbar-btn {
        font-size: 1.4rem;
        width: 8rem;
    }
    .home-banner {
        margin: 3rem 1rem;
    }
}

@media (max-width: 576px) {
    .center__image {
        aspect-ratio: 16 / 10;
    }
}